/* Set the background color and text color */
body {
  background-color: #F1E0C5;
  color: #342A21;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

/* Style for buttons */
button {
  background-color: #C9B79C;
  color: #32A21F; /* Use text color for button text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

/* Hover effect for buttons */
button:hover {
  background-color: #71816D;
}
